.container {
    margin-top: 50px;
}

.heading {
    font-size: 3em;
}

.form {
    margin: auto;
    width: 80%;
}

.recipe {
    margin-top: 20px;
}

.list-of-recipes {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-modal {
    width: 25vw;
    max-width: 25vw;
}

.modal-body {
    justify-content: center;
    display: flex;
    align-items: center;
}